@font-face {
  font-family: 'HeydingsControlsRegular';
  src: url('../fonts/heydings_controls-webfont.eot');
  src: url('../fonts/heydings_controls-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/heydings_controls-webfont.woff') format('woff'),
       url('../fonts/heydings_controls-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Displaay the icon before the button tags */
.play, .rwd, .fwd {
  float: left;
}
button { 
  outline: none;
  overflow: hidden;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
  width: 33.3% ;
  
  &:before {
    font-family: HeydingsControlsRegular;
    // font-size: 30px;
    position: relative;
    content: attr(data-icon);
    color: #aaa;
    text-shadow: 1px 1px 0px black;
  }

  &:focus {
    outline: none;
  }
}

.fwd {
  transform: rotateY(180deg);
}

video {
  width: 100%; 
  margin-bottom: -4px;
}

.timers {
  line-height: 38px;
  font-size: 10px;
  font-family: monospace;
  text-shadow: 1px 1px 0px black;
  color: white;
  flex: 5px;
  position: relative;

  .timerBar {
    height: 10px;
    background-color: #ffffff;
  }
}